/* #58111A */


:root {
--border-c: #00948B;
--background-c: #555555;
--panel-c: #7F8B00;
--text-c: #E2E2E2;
--highlight-c: #008DD1;
--highlight-border: #BB8801;
--err-c: #F04037;
--slider-c: #fab387;
--sliderB-color: #919191;
--buttonA-c: #6A7FD2;
--buttonD-c: #555555;
--buttonB-c: #262626;
}

.code_panel {
  /* display: inline-block; */
  height: 85vh;
  width : 33vw;
  border: solid var(--border-c)4px;
  border-right: solid var(--border-c)5px;
  color: var(--text-c);
  float: left;
  position: relative;
  overflow: scroll;
  /* align-items: center; */
  /* justify-content: center; */
  /* display: flex; */
  scrollbar-color: var(--slider-c) var(--sliderB-color);
  scrollbar-width: thin;
}

.stack_panel {
  /* display: inline-block; */
  height: 85vh;
  width : 33vw;
  border: solid var(--border-c) 4px;
  color: var(--text-c);
  overflow: scroll;
  scrollbar-color: var(--slider-c) var(--sliderB-color);
  scrollbar-width: thin;
}

.output {
  /* display: inline-block; */
  height: 85vh;
  width : 33vw;
  border: solid var(--border-c) 4px;
  color: var(--text-c);
}

.output_text {
  height: 50%;
  white-space: pre;
  overflow: scroll;
  color: var(--text-c);
  scrollbar-color: var(--slider-c) var(--sliderB-color);
  scrollbar-width: thin;
}

#canv {
  height: 50%;
  width: 100%;
  image-rendering: pixelated;
}

body {
  background-color: var(--background-c);
}

main {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  /* justify-content: space-between; */
}

.highlighted {
  background-color: var(--highlight-c);
  color: var(--background-c);
}

.err {
  background-color: var(--err-c);
  color: var(--background-c);
}

.halflight {
  /* background-color: var(--highlight-c); */
  opacity: 0.5;
  /* color: var(--background-c); */
}

.input {
  position: absolute;
  color: var(--text-c);
  background-color: var(--background-c);
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;

  border: none;
  border-color: transparent;
  width: 100%;
  height: 100%;
  resize: none;
  overflow: scroll;
  text-wrap: nowrap;
  box-sizing:border-box;
  margin: 0;
  white-space: pre;
  scrollbar-color: var(--slider-c) var(--sliderB-color);
  scrollbar-width: thin;
}

.words {
  position: absolute;
  z-index: 0;
  text-wrap: nowrap;
  white-space: pre;
  color: var(--text-c);
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}

.highlighted_border {
  outline: solid var(--highlight-border) 2px;
}

.steps {
  margin-right: 5px;
}

textarea {
  padding: 0;
}

table {
  border-collapse: collapse;
}

button {
  color: var(--text-c);
  background-color: var(--buttonA-c);
  border: solid var(--text-c);
  padding: 0.5rem;
  margin: 0.25rem;
}

button:disabled {
  border: solid var(--buttonB-c);
}

.counters {
  font-size: 2.8rem;
  font-weight: bolder;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.next {
  visibility: collapse;
}

.prev {
  visibility: collapse;
}

footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width:800px) {

  .panel {
    display: none;
  }

  .code_panel {
    width: 100vw;
  }

  .stack_panel {
    width: 100vw;
  }

  .output {
    width: 100vw;
  }

  .next {
    display: block;
  }

  .prev {
    display: block;
  }
}