/* #58111A */
:root {
--border-c: #94e2d5;
--background-c: #555555;
--text-c: #cdd6f4;
--highlight-c: #a6e3a1;
--highlight-c2: #fab387;
--err-c: #f38ba8;
}

.code_panel {
  /* display: inline-block; */
  height: 800px;
  width : 30%;
  border: solid var(--border-c)4px;
  border-right: solid var(--border-c)5px;
  color: var(--text-c);
  float: left;
  position: relative;
  overflow: scroll;
  /* align-items: center; */
  /* justify-content: center; */
  /* display: flex; */
}

.stack_panel {
  /* display: inline-block; */
  height: 800px;
  width : 30%;
  border: solid var(--border-c) 4px;
  color: var(--text-c);

}

.output {
  /* display: inline-block; */
  height: 800px;
  width : 30%;
  border: solid var(--border-c) 4px;
  color: var(--text-c);
  white-space: pre;
}

body {
  background-color: var(--background-c);
}

main {
  display: flex;
  justify-content: space-between;
}

footer {
  display: flex;
  /* justify-content: space-between; */
}

.highlighted {
  background-color: var(--highlight-c);
  color: var(--background-c);
}

.err {
  background-color: var(--err-c);
  color: var(--background-c);
}

.halflight {
  /* background-color: var(--highlight-c); */
  opacity: 0.5;
  /* color: var(--background-c); */
}

.input {
    position: absolute;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: monospace;

    border: none;
    border-color: transparent;
    background-color: rgb(0, 99, 0);
    width: 100%;
    height: 100%;
    resize: none;
    overflow: scroll;
    text-wrap: nowrap;
    box-sizing:border-box;
    margin: 0;
    white-space: pre;
}

.words {
  position: absolute;
  z-index: 0;
  text-wrap: nowrap;
  white-space: pre;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: monospace;
}

.highlighted_border {
  border: solid var(--text-c) 2px;
}

.steps {
  margin-right: 5px;
}
